# See also .env and .heroku-local.env
export CORONA_ENV_TYPE=devel
export REPL_USER=$USER

# gpg --output ./.env-secrets.gpg --encrypt --recipient $gpgPubKey ./.env-secrets
source <(gpg --quiet --for-your-eyes-only --no-tty --decrypt ./.env-secrets.gpg)
